@keyframes enterButton {
  to {
    opacity: 1;
  }
}

@keyframes exitButton {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.holder {
  position: absolute;
  bottom: 72px;
  top: 20px;
  right: 20px;
  z-index: 1000;
  opacity: 0;
  animation: enterButton 500ms 1200ms forwards;
  &.exit {
    opacity: 1;
    animation: exitButton 500ms forwards;
  }
}

@media all and (max-width: 600px) {
  .holder {
    bottom: 36px;
  }
}

.wrapper {
  position: sticky;
  top: 20px;
}

.button {
  background-color: unset;
  border: unset;
  color: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  padding: 5px;
  transition: background 300ms;
  &:hover {
    background: rgba(0, 0, 0, 0.4);
  }
  &:focus {
    outline: none;
    background: rgba(0, 0, 0, 0.7);
  }
}

.svg-icon {
  width: 1.5em;
  height: 1.5em;
}

@media all and (max-width: 600px) {
  .svg-icon {
    width: 1em;
    height: 1em;
  }
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #fff;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}
