$list-height: 70px;

.project-section {
  position: relative;
}

// The container section
.card-holder {
  min-height: calc(100vh - #{$list-height} + 20px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.exhibition {
  background-color: #ececec4d;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.moreButtonHolder {
  height: 2rem;
  margin-top: 0.5rem;
}

// More button styling
.moreButton {
  all: unset;
  font-family: inherit;
  cursor: pointer;
  font-size: 0.8rem;
  position: relative;
  font-weight: bold;
  &.nirikshak {
    &::after {
      background-color: darken(orange, 5%);
    }
  }
  &.megatreopuz {
    &::after {
      background-color: #009bd8;
    }
  }

  &::after {
    content: " ";
    position: absolute;
    bottom: -5px;
    width: 0px;
    height: 3px;
    margin: 3px 0 0;
    left: 0;
    opacity: 0;
    transition: 200ms ease-in-out;
  }

  &:hover:not(:disabled),
  &:focus:not(:disabled) {
    &::after {
      opacity: 1;
      width: 100%;
    }
  }
}

// Opacity based transition
.opacity-transition {
  opacity: 1;
  // visibility: visible;
  transition: opacity 200ms 100ms;
  &.opacity-exit {
    opacity: 0;
    // visibility: hidden;
  }
}

// The default dimensions for the cards
// Don't animate from 0, 0
.default-dimension {
  height: 405px;
  width: 325px;
}

// The cards when they enter
.enter-card {
  height: 475px;
  width: 395px;
}

// The transitions properties for height, width and rotate
.card-transition {
  transition: transform 200ms 50ms, height 200ms, width 200ms;
}

// The central card
.label-card {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: white;
  z-index: 100;
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.45);
  .title {
    text-align: center;
    font-family: "Dancing Script", cursive;
    font-size: 3rem;
  }

  .subtitle {
    text-align: center;
    font-family: "Dancing Script", cursive;
    font-size: 1.2rem;
    padding: 0 10px;
  }

  transition: width 400ms 300ms ease-in-out, height 400ms 800ms ease-in-out;
  &.expanded-card {
    height: calc(100vh + 20px + #{$list-height});
    width: 100%;
  }
}

.inner-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &:focus {
    outline: none;
  }
}

// The simple background card
.label-background {
  @extend .card-transition;
  position: relative;
  z-index: 50;
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.45);
  &.megatreopuz {
    background-color: rgb(10, 117, 160);
  }

  &.nirikshak {
    background-color: #ee5522;
  }
}

// The rotated pattern background card
.label-image-background {
  @extend .card-transition;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.45);
  &.megatreopuz {
    background-color: #00b7ff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='540' height='450' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
  }

  &.nirikshak {
    background-color: #ee5522;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23FB3'/%3E%3Cstop offset='1' stop-color='%23ee5522'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%23f7882b'/%3E%3Cstop offset='1' stop-color='%23ee5522'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg transform='translate(960 0)'%3E%3Cg transform='translate(0 720)'%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(-172.8 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0.1' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-size: cover;
  }
  &.enter-card {
    transform: rotate(-8deg);
  }
  position: absolute;
  z-index: 75;
}

// The icon button list
.project-list-wrapper {
  // position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
}

.project-list {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  width: 50vw;
  min-width: 500px;
  margin: auto;
  height: $list-height;

  .project-badge button {
    all: unset;
    transition: opacity 200ms;
    cursor: pointer;

    &:disabled {
      cursor: not-allowed;
      filter: grayscale(100%);
    }

    &:hover:not(:disabled) {
      opacity: 0.6;
    }

    &:focus:not(:disabled) {
      opacity: 0.4;
    }

    img {
      height: 45px;
    }
  }
}
// MQ for dimension adjustments
@media (max-width: 600px) {
  .moreButton {
    &:hover,
    &:focus {
      &::after {
        display: none;
      }
    }
    &:hover {
      opacity: 0.7;
    }
    &:focus {
      opacity: 0.5;
    }
  }

  .default-dimension {
    height: 350px;
    width: 250px;
  }
  .label-card {
    .title {
      font-size: 2.5rem;
    }
    .subtitle {
      font-size: 1rem;
    }
  }

  .enter-card {
    height: 400px;
    width: 300px;
  }

  .project-list-wrapper {
    bottom: 5px;
  }

  .project-list {
    min-width: 300px;

    .project-badge {
      button img {
        height: 40px;
      }
    }
  }
}

@media (max-width: 380px) {
  .subtitle {
    display: none;
  }

  .default-dimension {
    height: 300px;
    width: 200px;
  }

  .enter-card {
    height: 350px;
    width: 250px;
  }
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 1.75rem;
  height: 1.75rem;
}
.loader {
  margin: auto;
  font-size: 10px;
  position: absolute;
  left: calc(50% - 1.75rem / 2);
  z-index: 10;
  text-indent: -9999em;
  border-width: 0.35rem;
  border-style: solid;
  &.megatreopuz {
    border-right-color: rgba(10, 117, 160, 0.2);
    border-top-color: rgba(10, 117, 160, 0.2);
    border-bottom-color: rgb(10, 117, 160);
    border-left-color: rgb(10, 117, 160);
  }

  &.nirikshak {
    border-right-color: rgba(238, 85, 34, 0.2);
    border-top-color: rgba(238, 85, 34, 0.2);
    border-bottom-color: rgb(238, 85, 34);
    border-left-color: rgb(238, 85, 34);
  }
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
