# Dependencies
node_modules/

# Build output
dist/

# Vite cache
.vite/

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env
.env.local
.env.*.local

# Editor / OS
.DS_Store
.idea/
.vscode/
*.tgz
