.article {
  h4 {
    font-size: 1.5rem;
  }
  position: relative;
  &:focus {
    outline: none;
  }
}

.introduction,
.interface,
.architecture {
  padding: 72px 36px 50px;
}

.interface {
  background: #ececec4d;
}

.architecture,
.interface {
  h4 {
    margin-bottom: 2rem;
  }
}

@media all and (max-width: 600px) {
  .introduction,
  .interface,
  .architecture {
    padding: 36px;
  }
}

.image-stack {
  background-image: linear-gradient(to right, #36d1dc, #5b86e5);
  overflow: hidden;
  height: 60vh;

  .image-holder {
    transform: rotate(-30deg);
  }
  .row {
    display: flex;
    justify-content: center;
  }

  img {
    transform: translateY(-50px);
    width: 400px;
    margin: 2rem;
    border-radius: 10px;
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
}

@media all and (max-width: 600px) {
  .image-stack {
    img {
      width: 200px;
      margin: 1rem;
    }

    .row:last-child {
      flex-direction: row-reverse;
    }
  }
}

.logos {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  figure {
    margin-top: 1rem;
  }
  img {
    max-height: 70px;
    max-width: 100px;
  }
}

@media all and (max-width: 600px) {
  .logos {
    flex-direction: column;
    align-items: center;
  }
}
