@import "../../helpers.scss";
.section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.nav {
  all: unset;
  opacity: 0;
  transition: opacity 500ms;

  &.visible {
    opacity: 1;
  }

  position: absolute;
  text-align: center;
}

.nav {
  bottom: 15px;
}

@media all and (max-width: $tablet) {
  .nav {
    display: none;
  }
}
