.cat{
    text-align: center;
    border: 1px solid red;
}

.kitten{
    height: 400px;
}
#MouthDownOpen {
    opacity: 1;
}
#Head {
    border: solid 2px red;
}
#BigEyeRight, #BigEyeLeft {
    opacity: 0;
}

#MedEyes {
    opacity: 0;
}
