.section {
  padding: 72px 36px;
  min-height: 100vh;
  background-color: #ececec4d;
  position: relative;
  overflow: hidden;
}
.me {
  margin-bottom: 2.5rem;
  img {
    box-sizing: content-box;
    height: 150px;
    border-radius: 50%;
    display: block;
    transition: border 500ms;
  }
}

.intro {
  font-size: 1.2rem;
}

.what {
  margin-top: 2rem;
}

.resumeLink {
  color: black;
  font-weight: bold;
}

@media all and (max-width: 600px) {
  .section {
    padding: 36px;
  }
}
