.section {
  padding: 72px 36px;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-color: #ececec4d;
  // background-image: linear-gradient(to top, #1b8b6f, #50b175);
  // color: white;
}

.heading {
  text-align: center;
  font-size: 3rem;
  font-family: "dancing script", cursive;
  margin-bottom: 1.5rem;
}

@media all and (max-width: 600px) {
  .heading {
    font-size: 2.5rem;
  }
}

.iconHolder {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  .icon:not(:last-child) {
    margin-right: 20px;
  }
}

.content {
  text-align: center;
}

@media all and (max-width: 600px) {
  .section {
    padding: 36px;
  }
}
