.svg {
  height: calc(100% - 100px);
  transform: rotate(-10deg);
  transition: transform 300ms;

  path {
    transform: rotateZ(-20deg);
    transform-origin: center;
    opacity: 0;
    transition: transform 100ms, fill 200ms, opacity 100ms, stroke 200ms;
  }
}
