@import "../../helpers.scss";

$during-loading-color: #ae0520;
$on-loaded-color: #3b3b3d;

.svg {
  transition: transform 500ms;
  height: calc(100% - 100px);
  transform: rotate(-10deg);

  &.visible {
    transform: rotateZ(0deg);
  }

  .catPaths {
    path {
      fill: $during-loading-color;
      stroke: $during-loading-color;
      // transform: rotateZ(-5deg);
      transform-origin: center;
      opacity: 0;
      transition-property: stroke, fill;
      transition-delay: 30ms;

      &.ready {
        opacity: 1;
        stroke: $on-loaded-color;
        fill: $on-loaded-color;
      }
    }
  }
}

.name {
  transition: opacity 500ms;
  opacity: 0;

  &.visible {
    opacity: 1;
  }
}

@media all and (max-width: $tablet) {
  .svg {
    transform: rotateZ(0);
    height: 100%;
  }
}
