@import "../../helpers.scss";

@keyframes fillTile {
  100% {
    stroke: #ae0520;
    fill: #ae0520;
  }
}
@keyframes animateTile {
  to {
    opacity: 1;
    transform: rotateZ(0deg);
  }
}
.svg {
  transition: transform 300ms;
  height: calc(100% - 100px);
  transform: rotate(-10deg);

  &.visible {
    transform: rotateZ(0deg);
  }

  .catPaths {
    path {
      transform: rotateZ(-20deg);
      transform-origin: center;
      opacity: 0;

      &.ready {
        animation: animateTile 60ms forwards, fillTile 200ms;
      }
    }
  }
}

.name {
  transition: opacity 500ms;
  opacity: 0;

  &.visible {
    opacity: 1;
  }
}

@media all and (max-width: $tablet) {
  .svg {
    transform: rotateZ(0);
    height: 100%;
  }
}
