@import "../../helpers.scss";

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.header {
  position: fixed;
  opacity: 0;
  padding: 10px;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 5000;
  animation: fadeIn 500ms 500ms forwards;
}

.control {
  display: none;
}

@media all and (max-width: $tablet) {
  .control {
    position: fixed;
    top: 20px;
    left: 10px;
    z-index: 7000;
    display: flex;
    align-items: center;

    h5 {
      margin: 0 0 0 10px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
  .menu {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    padding: 0;

    svg {
      width: 30px;
    }
  }
  .line {
    fill: none;
    stroke: black;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
  }
  .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
  }
  .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }

  .header {
    padding: 0;
    nav {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(255, 255, 255, 0.9);

      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
