@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:wght@400&display=swap");

h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 10px;
}

html {
  background-color: white;
  color: black;
  font-family: "Nunito Sans", sans-serif;
  line-height: 1.75rem;
  overflow-y: scroll;
}

body,
input,
textarea,
button {
  font-family: "Nunito Sans", sans-serif;
}

body {
  position: relative;
}

img,
li,
p,
figure {
  margin: 0;
}

figcaption {
  text-align: center;
  font-size: 0.8rem;
  font-weight: bold;
}

figure > img {
  display: block;
  max-width: 100%;
  margin: auto;
}

*::selection {
  background: #000;
  color: white;
}

dl {
  margin: 0;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: 1rem;
}

pre {
  background-color: unset;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

table,
th,
td,
tr {
  border: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  transition: opacity 200ms;
}

a:hover,
a:active {
  opacity: 0.6;
}

ol {
  margin: 0;
}
