$card-width: 300px;
$card-color: #000;

.section {
  // background: #ececec4d;
  ol {
    list-style-type: none;
  }
}

.holder {
  display: flex;
  background-image: linear-gradient(
    rgb(255, 143, 178) 0%,
    rgb(167, 151, 255) 50%,
    rgb(0, 229, 255) 100%
  );
  background-attachment: fixed;
  flex-direction: column;
  position: relative;
  align-items: stretch;

  li {
    &::after {
      content: " ";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      width: 2.5px;
      background-color: $card-color;
    }
    padding: 2.75rem 0;
    position: relative;
    background-color: white;
    mix-blend-mode: lighten;
    display: flex;

    .card {
      background-color: white;
      line-height: 1.25rem;
      position: relative;
      width: $card-width;
      text-align: center;
      padding: 15px 10px;
      border: solid 2px;
      border-color: $card-color;
      color: $card-color;
      border-radius: 10px;
      h3 {
        font-size: 1.25rem;
      }
      p {
        font-size: 0.875rem;
      }

      &::before {
        content: "";
        border: 10px transparent solid;
        position: absolute;
        top: 50%;
      }
    }

    &:nth-child(2n + 1) {
      flex-direction: row;
      .card {
        // right: $card-width / 2 + 30px;
        &::before {
          border-left-color: $card-color;
          right: -20px;
        }
      }
    }

    &:nth-child(2n) {
      flex-direction: row-reverse;

      .card {
        // left: $card-width / 2 + 30px;
        &::before {
          border-right-color: $card-color;
          left: -20px;
        }
      }
    }
  }
}

@media all and (max-width: 768px) {
  .section {
    .holder {
      li {
        justify-content: center;
        .card {
          right: 0;
          left: 0;
          z-index: 10;
          &::before {
            border: none;
          }
        }
      }
    }
  }
}
